/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --background-contrast: 100%;
    --background-blur: 0px;
    --loadbar-color: rgb(245, 3, 3);
    --loadbar-progress-color: #141414FF;
    --loadbar-height: 5px;
    --footer-font-color: rgb(253, 0, 0);
    --footer-font-size: 26px;
    --fadeTo-Color: #000000;
}
